input[type="range"]::-webkit-slider-thumb {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background:black;
  pointer-events: auto;
  -webkit-appearance: none;
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background:black;
  pointer-events: auto;
  -moz-appearance: none;
}
