.orderdetail-table{
    display: none;
    th{
        min-width: 80px;
        width: 200px;
        @include mq(lg){
        width: 300px;

        }
    }
    td{
        @extend th;
    }
    &.active{
        display: block;
    }
}